<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>New Post</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container">
        <form class="mt-3" th:action="@{/posts/create}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="brand" class="form-label"><b>Бренд</b></label>
                <input type="text" class="form-control" id="brand" name="brand" placeholder="Введите марку авто">
            </div>
            <div class="mb-3">
                <label for="formFile"><b>Фото</b></label>
                <input class="form-control form-control-sm w-100" type="file" id="formFile" name="file" required>
            </div>
            <div class="mb-3">
                <label for="carName" class="form-label"><b>Модель</b></label>
                <input type="text" class="form-control" id="carName" name="carName" placeholder="Введите модель авто">
            </div>
            <div class="mb-3">
            <div class="mb-3">
                <label for="description" class="form-label"><b>Описание</b></label>
                <textarea class="form-control" id="description" name="description" rows="5" placeholder="Добавьте описание"></textarea>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label"><b>Цена</b></label>
                <input type="number" class="form-control" id="price" name="price" rows="5" placeholder="Укажите цену">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label"><b>Кузов</b></label>
                <input type="text" class="form-control" id="body" name="body" placeholder="Выберете тип кузова">
            </div>
            <div class="mb-3">
                <label for="gearbox" class="form-label"><b>Коробка передач</b></label>
                <input type="text" class="form-control" id="gearbox" name="gearbox" placeholder="Выберете коробку передач">
            </div>
            <div class="mb-3">
                <label for="typeDrive" class="form-label"><b>Привод</b></label>
                <input type="text" class="form-control" id="typeDrive" name="typeDrive" placeholder="Выберете тип привода">
            </div>
            <div class="mb-3">
                <label for="engine"><b>Двигатель</b></label>
                <select class="form-control" id="engine" name="engineId">
                    <option th:each="engine : ${engines}" th:value="${engine.id}" th:text="${engine.name}"></option>
                </select>
            </div>
            <div class="mb-3 row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/}">Отмена</a></div>
                        <div class="col-6"><button class="btn btn-primary w-100" type="submit" >Сохранить</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer th:insert="~{blocks/footer :: footer}" class="mt-5"></footer>
</div>
</body>
</html>