<div class="pb-1" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/index}"><b>Job4j_Cars</b></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:href="@{/index}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Объявления
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/posts/all}">Все</a></li>
                            <li><a class="dropdown-item" th:href="@{/posts/lastDay}">За последний день</a></li>
                            <li><a class="dropdown-item" th:href="@{/posts/withFile}">Только с фото</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/posts/categories}">Каталог</a>
                    </li>
                    <li class="nav-item" th:if="${user.login != 'guest'}">
                        <a class="nav-link active" aria-current="page" th:href="@{/posts/myPosts}">Мои объявления</a>
                    </li>
                    <li class="nav-item" th:if="${user.login != 'guest'}">
                        <a class="nav-link active" aria-current="page" th:href="@{/posts/mySubscriptions}">Мои подписки</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="d-flex" th:if="${user.login == 'guest'}">
                        <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
                        <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
                    </div>
                    <div class="d-flex" th:if="${user.login != 'guest'}">
                        <a class="nav-link text-secondary me-3" href="#" th:text="${user.login}"></a>
                        <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
                    </div>
                    <a class="btn btn-success w-120" th:href="@{/posts/create}">Разместить объявление</a>
                </div>
            </div>
        </div>
    </nav>
</div>
